body {
        font-family: 'Open Sans', sans-serif;
        background-color: #222;
        align-items: center;
        justify-content: center;
        height: 100vh;
}
    
#mycanvas {
    display: block;
    margin: 0 auto;
}
    
h1 {
    color: white;
    justify-content: center;
    text-align: center;
    margin: auto;
    font-size: 3em;
}
    
canvas {
    border: none;
}
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    display: flex;
}